.login-box {
    width: 90%;
    background-color: aqua;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    
}

@media only screen and (min-width: 600px) {
    .login-box {
        width: 50%;
    }
}