.card, .cardSmall {
    width: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border: 1.5px solid transparent;
}
.card:hover {
    border: 1.5px solid #B39BC8;
}
.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    color: #E64398;
    margin-top: 20px;
}
.cardAction:focus, .cardAction:hover, .cardAction:active, .cardAction:link {
    color: transparent;
}
.alsoTitle {
    color: #E64398;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

@media only screen and (min-width: 600px) {
    .card {
        width: 22%;
        margin-left: 16px;
        margin-right: 10px;
    }
    .cardSmall {
        width: 14%;
        margin-left: 16px;
        margin-right: 10px;
    }
    .title {
        height: 85px;
    }
    .cardImg {
        height: 400px;
    }
    .cardImgSmall {
        height: 200px;
    }
}