
.usersTableContainer{
	width: 100%;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	background-color: #F0EBF4;
}

.usersTable{
	width: 80%;
	background-color: white;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
}
thead {
	background-color: #eb87bb;
	text-align: left;
}
th{
	padding: 5px;
}
td{
	padding: 5px;
}
tr button {
	padding: 5px;
	border: none;
	background-color: white;
	padding-left: 20px;
}


@media only screen and (max-width: 760px) {
	.usersTable{
		width: 90%;
		background-color: #F0EBF4;
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
        border: 1px solid #ccc;  
        margin-top: 10px;
		background-color: #fff;
    }
	 td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 42%; 
        
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px; 
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	} 
	
   	td:nth-of-type(1):before { content: "Name"; color: #E64398;}
    td:nth-of-type(2):before { content: "Lastname"; color: #E64398;}
	td:nth-of-type(3):before { content: "Email"; color: #E64398;}
	td:nth-of-type(4):before { content: "Birthdate"; color: #E64398;}
	td:nth-of-type(5):before { content: "Action"; color: #E64398;}
}